In [1]:
import sqlite3

In [2]:
def myConnect():
    con = sqlite3.connect('mydb.db')
    return con

In [3]:
con = myConnect()
if con:
    print('connected')

connected

In [4]:
def createTable(con):
    cur=con.cursor()
    qry = 'CREATE TABLE student(name TEXT,id INT,per REAL,phone_no INT)'
    cur.execute(qry)
    con.commit()
    print('Table Created')

In [5]:
con=myConnect()
createTable(con)

Table Created

In [17]:
def insertRecord(con):
    cur=con.cursor()
    qry="INSERT INTO student VALUES('vamsi',13,97.0,977556)"
    cur.execute(qry)
    con.commit()
    print('row inserted')

In [18]:
insertRecord(con)

row inserted

In [23]:
def display(con):
    cur=con.cursor()
    qry="SELECT * FROM student"
    cur.execute(qry)
    res=cur.fetchall()
    for i in res:
        print (i)

In [29]:
display(con)

('vamsi', 13, 97.0, 977556)
('vamsi', 13, 97.0, 977556)
('vamsi', 13, 97.0, 977556)

In [30]:
def delete(con):
    cur=con.cursor()
    qry="DELETE FROM student WHERE id=12"
    cur.execute(qry)
    con.commit()

In [31]:
delete(con)

In [32]:
def display(con):
    cur=con.cursor()
    qry="SELECT * FROM student"
    cur.execute(qry)
    res=cur.fetchall()
    for i in res:
        print (i)

In [33]:
display(con)

('vamsi', 13, 97.0, 977556)
('vamsi', 13, 97.0, 977556)
('vamsi', 13, 97.0, 977556)