PANDAS DATAFRAME AND INDEX, INSERT COLUMNS AND APPLYING FUNCTION

In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(['DL', 'UP', 'AP', 'TS'],index = [1,2,3,4])
df[1]=[100, 200, 300, 400]
df

    0    1
1  DL  100
2  UP  200
3  AP  300
4  TS  400

In [9]:
print('loc is label based prints the index as 1 or 2 ')
df.loc[1]

loc is label based prints the index as 1 or 2

0     DL
1    100
Name: 1, dtype: object

In [10]:
df.loc[2]

0     UP
1    200
Name: 2, dtype: object

In [8]:
print('specify the rows and colums on index number that is intiger based')
df.iloc[0]

specify the rows and colums on index number that is intiger based

0     DL
1    100
Name: 1, dtype: object

In [8]:
print('slicing based can be done')
df.columns = ['cities','Active']
df.loc[df.Active>200]

slicing based can be done

  cities  Active
3     AP     300
4     TS     400

In [9]:
df.iloc[:,0]

1    DL
2    UP
3    AP
4    TS
Name: cities, dtype: object

 PANDAS DATAFRAME AND INDEX, INSERT COLUMNS AND APPLYING FUNCTION

In [28]:
d ={'Score1':[56,85,23,48,64,78],'Score2':[56,39,43,61,89,94]}
df= pd.DataFrame(d)

In [21]:
df

   Score1  Score2
0      56      56
1      85      39
2      23      43
3      48      61
4      64      89
5      78      94

In [29]:
print('using funtion to dataframes')
def adder(x,y):
    return(x+y)

using funtion to dataframes

In [30]:
print(df['Score1'].pipe(adder,2))

0    58
1    87
2    25
3    50
4    66
5    80
Name: Score1, dtype: int64

In [38]:
names ={1:['Alisa','Bobby','Catherine','Madonna','Rockey','Sebastian']}

In [39]:
names

{1: ['Alisa', 'Bobby', 'Catherine', 'Madonna', 'Rockey', 'Sebastian']}

In [37]:
print(df['Score1'].apply(np.mean))

0    56.0
1    85.0
2    23.0
3    48.0
4    64.0
5    78.0
Name: Score1, dtype: float64

In [45]:
d = {'Name':['Alisa','Bobby','Catherine','Madonna','Rockey','Sebastian','Alisa','Bobby','Catherine', 'Madonna','Rockey','Sebastian'],
    'Exam':['Semester1','Semester1','Semester1','Semester1','Semester1','Semester1','Semester2','Semester2','Semester2','Semester2','Semester2','Semester2'],
    'Subject':['Mathematics','Mathematics','Mathematics','Science','Science','Science','Mathematics','Mathematics','Mathematics','Science','Science','Science'],
    'Score':[62,56,45,69,84,63,52,47,81,52,81,73]}

In [46]:
df = pd.DataFrame(d)
df

         Name       Exam      Subject  Score
0       Alisa  Semester1  Mathematics     62
1       Bobby  Semester1  Mathematics     56
2   Catherine  Semester1  Mathematics     45
3     Madonna  Semester1      Science     69
4      Rockey  Semester1      Science     84
5   Sebastian  Semester1      Science     63
6       Alisa  Semester2  Mathematics     52
7       Bobby  Semester2  Mathematics     47
8   Catherine  Semester2  Mathematics     81
9     Madonna  Semester2      Science     52
10     Rockey  Semester2      Science     81
11  Sebastian  Semester2      Science     73

In [48]:
df['Score'].groupby([df['Name'],df['Exam']]).sum()

Name       Exam
Alisa      Semester1    62
           Semester2    52
Bobby      Semester1    56
           Semester2    47
Catherine  Semester1    45
           Semester2    81
Madonna    Semester1    69
           Semester2    52
Rockey     Semester1    84
           Semester2    81
Sebastian  Semester1    63
           Semester2    73
Name: Score, dtype: int64

In [51]:
df.groupby(['Subject','Exam']).sum()

                       Score
Subject     Exam
Mathematics Semester1    163
            Semester2    180
Science     Semester1    216
            Semester2    206

# PANDAS-To analyse the data in the datastructure for decision making purpose. The data types are series and dataframe.

In [7]:
import pandas as pd
x= [1,2,3,4]
sr=pd.Series(x)
print(sr)

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
sr=pd.Series([1,2,3,4])
print(sr)

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
sr1=pd.Series([1,2,3,4])
sr2=pd.Series([3,4,5,6])
sr3=pd.Series([6,7,8,9])
d= {"a":sr1,"b":sr2,"c":sr3}
df=pd.DataFrame(d)
print(d)

{'a': 0    1
1    2
2    3
3    4
dtype: int64, 'b': 0    3
1    4
2    5
3    6
dtype: int64, 'c': 0    6
1    7
2    8
3    9
dtype: int64}

In [11]:
import pandas as pd
x= [1,2,3,4]
sr=pd.Series(x)
print(sr)
Index=['a','b','c','d']
sr=pd.Series(x,Index)
print(sr)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [13]:
dictionary={"a":1,"b":2,"c":3}
sd=pd.Series(dictionary)
print(sd)

a    1
b    2
c    3
dtype: int64

In [14]:
x= [[1,2],[3,4]]
sr=pd.Series(x)
print(sr)

0    [1, 2]
1    [3, 4]
dtype: object

# Dataframes :- are two dimentional data structure of rows and columns

In [17]:
print('1ST WAY TO CREATE DATAFRAME')
d1={"a":1,"b":2,"c":3}
d2={"a":5,"b":6,"c":7,"d":8}
dc={"a":d1,"b":d2}
df=pd.DataFrame(dc)
print(df)

1ST WAY TO CREATE DATAFRAME
     a  b
a  1.0  5
b  2.0  6
c  3.0  7
d  NaN  8

In [18]:
print("SECOND WAY TO CREATE DATAFRAME")
s1=pd.Series( [1,2,3,4])
s2=pd.Series([1.1,2.2,3.3,4.4])
s3=pd.Series(['a','b','c','d'])
Data={'a':s1,'b':s2,'c':s3}
dfSeries= pd.DataFrame(Data)
print(dfSeries)

SECOND WAY TO CREATE DATAFRAME
   a    b  c
0  1  1.1  a
1  2  2.2  b
2  3  3.3  c
3  4  4.4  d

In [22]:
print("THIRD WAY TO CREATE DATAFRAME")
s1=[[1,2,4],[3,4,6]] 
s2=[[5,6,7],[7,8,9]]
d={"a":s1,"b":s2}
print(pd.DataFrame(d))

THIRD WAY TO CREATE DATAFRAME
           a          b
0  [1, 2, 4]  [5, 6, 7]
1  [3, 4, 6]  [7, 8, 9]

# ACCESSING PARTICULAR VALUES FROM A DATA FRAME

In [24]:
d1={"a":1,"b":2,"c":3}
d2={"a":5,"b":6,"c":7,"d":8}
dc={"a":d1,"b":d2}
df=pd.DataFrame(dc)
print(df)
print(df['a'][0],"column name and row number")

     a  b
a  1.0  5
b  2.0  6
c  3.0  7
d  NaN  8
1.0 column name and row number

# loc[ ] :ACCESSING BY LOCATION BY GIVING NAMES

In [25]:
d1=[3,5,6]
d2=[1,2,3]
d3=[4,5,6]
Data={'a':d1,'b':d2,"c":d3}
df=pd.DataFrame(Data)
print(df)

   a  b  c
0  3  1  4
1  5  2  5
2  6  3  6

In [26]:
print("access a row")
print(df.loc[0,:])

access a row
a    3
b    1
c    4
Name: 0, dtype: int64

In [28]:
print(df.loc[0:1,:],'printint 1st and the 2nd row')

   a  b  c
0  3  1  4
1  5  2  5 printint 1st and the 2nd row

In [30]:
print(df.loc[:,'a'],'printing all the rows and column a')

0    3
1    5
2    6
Name: a, dtype: int64 printing all the rows and column a

In [31]:
print(df.loc[:,'a':'b'],'printing all the rows and ab column')

   a  b
0  3  1
1  5  2
2  6  3 printing all the rows and ab column

# SLICING(iloc())- THE LAST NUMBER IS NOT ACCESSABLE BY INDEX NUMBER

In [32]:
d1=[3,5,6]
d2=[1,2,3]
d3=[4,5,6]
Data={'a':d1,'b':d2,"c":d3}
df=pd.DataFrame(Data)
print(df)

   a  b  c
0  3  1  4
1  5  2  5
2  6  3  6

In [36]:
print(df.iloc[0:2,0:2],'the end rows and columns are not included')

   a  b
0  3  1
1  5  2 the end rows and columns are not included

In [44]:
print('change the value of a particular cell')
df.iloc['a'][9]=9

change the value of a particular cell

TypeError: Cannot index by location index with a non-integer key

In [48]:
print(df.max(axis=1))

0    4
1    5
2    6
dtype: int64

In [49]:
print(df.min(axis=1))

0    1
1    2
2    3
dtype: int64

In [ ]:
mode()- GIVES THE MAX REPEATION OF VALUE(USE AXIS=1 FOR ROWS)
median()- WILL SORT THE COLUMN IN INCREASING ORDER AND THEN RETURN THE VALUES FROM MIDDLE(USE AXIS=1 FOR ROWS)
mean()- GIVES THE MEAN VALUE OS EACH ROW IF AXIS IS NOT MENTIONED(USE AXIS=1 FOR ROWS)
count()-RETURNS THE TOTAL COUNT OF VALUES COLUMN WISE(USE AXIS=1 FOR ROWS)

In [50]:
print(df.mode(axis=1))

     0    1    2
0  1.0  3.0  4.0
1  5.0  NaN  NaN
2  6.0  NaN  NaN

In [51]:
print(df.mean(axis=1))

0    2.666667
1    4.000000
2    5.000000
dtype: float64

In [52]:
d1=[3,5,6,7,8,9]
d2=[1,2,3,4,5,6]
d3=[4,5,6,10,12,13]
Data={'a':d1,'b':d2,"c":d3}
df=pd.DataFrame(Data)
print(df)

   a  b   c
0  3  1   4
1  5  2   5
2  6  3   6
3  7  4  10
4  8  5  12
5  9  6  13

In [54]:
print(df.median(axis=1))

0    3.0
1    5.0
2    6.0
3    7.0
4    8.0
5    9.0
dtype: float64

In [55]:
print(df.count())
print(df.count(axis=1))

a    6
b    6
c    6
dtype: int64
0    3
1    3
2    3
3    3
4    3
5    3
dtype: int64

In [56]:
print(df.sum())

a    38
b    21
c    50
dtype: int64

In [60]:
print(df['b'].max(),"maximium element in the column")

6 maximium element in the column

In [62]:
print(df[['b','a']].max())

b    6
a    9
dtype: int64

# PIVOTING:- HELPS TO SUMMARIZE THE DATA AND CAN BE USED TO TRANSFORMING ROWS INTO COLUMNS

In [68]:
df=pd.DataFrame({'A':['John','Boby','Meena'],"B":['Master','Graduate','Graduate'],'C':[27,23,21]})
print(df)

       A         B   C
0   John    Master  27
1   Boby  Graduate  23
2  Meena  Graduate  21

In [69]:
x=df.pivot(index='A',columns='B',values='C')
print(x)

B      Graduate  Master
A
Boby       23.0     NaN
John        NaN    27.0
Meena      21.0     NaN

In [70]:
x=df.pivot(index='A',columns='B',values=['C','A'])
print(x)

             C               A
B     Graduate Master Graduate Master
A
Boby        23    NaN     Boby    NaN
John       NaN     27      NaN   John
Meena       21    NaN    Meena    NaN

# PIVOT TABLE

In [ ]:
import pandas as pd
import numpy as np