In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("survey_results_public.csv")

In [5]:
print(df)

       ResponseId                                         MainBranch  \
0               1                     I am a developer by profession
1               2             I am a student who is learning to code
2               3  I am not primarily a developer, but I write co...
3               4                     I am a developer by profession
4               5                     I am a developer by profession
...           ...                                                ...
83434       83435                     I am a developer by profession
83435       83436                     I am a developer by profession
83436       83437                     I am a developer by profession
83437       83438                     I am a developer by profession
83438       83439                     I am a developer by profession

                                              Employment  \
0      Independent contractor, freelancer, or self-em...
1                                     Student, full-time
2                                     Student, full-time
3                                     Employed full-time
4      Independent contractor, freelancer, or self-em...
...                                                  ...
83434                                 Employed full-time
83435  Independent contractor, freelancer, or self-em...
83436                                 Employed full-time
83437                                 Employed full-time
83438                                 Employed full-time

                                                 Country    US_State  \
0                                               Slovakia         NaN
1                                            Netherlands         NaN
2                                     Russian Federation         NaN
3                                                Austria         NaN
4      United Kingdom of Great Britain and Northern I...         NaN
...                                                  ...         ...
83434                           United States of America       Texas
83435                                              Benin         NaN
83436                           United States of America  New Jersey
83437                                             Canada         NaN
83438                                             Brazil         NaN

      UK_Country                                            EdLevel  \
0            NaN  Secondary school (e.g. American high school, G...
1            NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2            NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3            NaN    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
4        England    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
...          ...                                                ...
83434        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83435        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83436        NaN  Secondary school (e.g. American high school, G...
83437        NaN       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83438        NaN                 Professional degree (JD, MD, etc.)

          Age1stCode                                          LearnCode  \
0      18 - 24 years  Coding Bootcamp;Other online resources (ex: vi...
1      11 - 17 years  Other online resources (ex: videos, blogs, etc...
2      11 - 17 years  Other online resources (ex: videos, blogs, etc...
3      11 - 17 years                                                NaN
4       5 - 10 years                            Friend or family member
...              ...                                                ...
83434  11 - 17 years  Other online resources (ex: videos, blogs, etc...
83435  11 - 17 years  Other online resources (ex: videos, blogs, etc...
83436  11 - 17 years                                             School
83437  11 - 17 years  Online Courses or Certification;Books / Physic...
83438  11 - 17 years                                             School

      YearsCode YearsCodePro  \
0           NaN          NaN
1             7          NaN
2           NaN          NaN
3           NaN          NaN
4            17           10
...         ...          ...
83434         6            5
83435         4            2
83436        10            4
83437         5            3
83438        14            4

                                                 DevType  \
0                                      Developer, mobile
1                                                    NaN
2                                                    NaN
3                                   Developer, front-end
4      Developer, desktop or enterprise applications;...
...                                                  ...
83434                                Developer, back-end
83435                              Developer, full-stack
83436  Data scientist or machine learning specialist;...
83437                                Developer, back-end
83438  Developer, front-end;Developer, full-stack;Dev...

                                                 OrgSize  \
0                                     20 to 99 employees
1                                                    NaN
2                                                    NaN
3                                   100 to 499 employees
4      Just me - I am a freelancer, sole proprietor, ...
...                                                  ...
83434                                 20 to 99 employees
83435  Just me - I am a freelancer, sole proprietor, ...
83436                           10,000 or more employees
83437                                 20 to 99 employees
83438                                       I don’t know

                          Currency  CompTotal CompFreq  \
0                EUR European Euro     4800.0  Monthly
1                              NaN        NaN      NaN
2                              NaN        NaN      NaN
3                EUR European Euro        NaN  Monthly
4              GBP\tPound sterling        NaN      NaN
...                            ...        ...      ...
83434    USD\tUnited States dollar   160500.0   Yearly
83435  XOF\tWest African CFA franc   200000.0  Monthly
83436    USD\tUnited States dollar     1800.0   Weekly
83437         CAD\tCanadian dollar    90000.0  Monthly
83438          BRL\tBrazilian real     7700.0  Monthly

                              LanguageHaveWorkedWith  \
0      C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
1                                  JavaScript;Python
2                           Assembly;C;Python;R;Rust
3                              JavaScript;TypeScript
4                     Bash/Shell;HTML/CSS;Python;SQL
...                                              ...
83434                             Clojure;Kotlin;SQL
83435                                            NaN
83436                             Groovy;Java;Python
83437           Bash/Shell;JavaScript;Node.js;Python
83438         Delphi;Elixir;HTML/CSS;Java;JavaScript

                                  LanguageWantToWorkWith  \
0                                                  Swift
1                                                    NaN
2                                      Julia;Python;Rust
3                                  JavaScript;TypeScript
4                         Bash/Shell;HTML/CSS;Python;SQL
...                                                  ...
83434                                            Clojure
83435                                                NaN
83436                                        Java;Python
83437                                            Go;Rust
83438  Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...

                                 DatabaseHaveWorkedWith  \
0                                     PostgreSQL;SQLite
1                                            PostgreSQL
2                                                SQLite
3                                                   NaN
4                        Elasticsearch;PostgreSQL;Redis
...                                                 ...
83434                                     Oracle;SQLite
83435    Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite
83436   DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis
83437  Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis
83438                                 Oracle;PostgreSQL

                                  DatabaseWantToWorkWith  \
0                                                 SQLite
1                                                    NaN
2                                                 SQLite
3                                                    NaN
4               Cassandra;Elasticsearch;PostgreSQL;Redis
...                                                  ...
83434                                             SQLite
83435  Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...
83436                                     DynamoDB;Redis
83437                                                NaN
83438  Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...

          PlatformHaveWorkedWith PlatformWantToWorkWith  \
0                            NaN                    NaN
1                            NaN                    NaN
2                         Heroku                    NaN
3                            NaN                    NaN
4                            NaN                    NaN
...                          ...                    ...
83434                        AWS                    AWS
83435                        NaN                    NaN
83436  AWS;Google Cloud Platform                    AWS
83437                     Heroku       AWS;DigitalOcean
83438            Microsoft Azure                    AWS

                             WebframeHaveWorkedWith  \
0                                   Laravel;Symfony
1                              Angular;Flask;Vue.js
2                                             Flask
3                                    Angular;jQuery
4                                             Flask
...                                             ...
83434                                           NaN
83435  Django;jQuery;Laravel;React.js;Ruby on Rails
83436                                 FastAPI;Flask
83437                 Django;Express;Flask;React.js
83438                                Angular;Spring

                                  WebframeWantToWorkWith  \
0                                                    NaN
1                                                    NaN
2                                                  Flask
3                                         Angular;jQuery
4                                                  Flask
...                                                  ...
83434                                                NaN
83435  Django;Express;jQuery;Laravel;React.js;Ruby on...
83436                                      FastAPI;Flask
83437                                                NaN
83438                     Express;Laravel;Spring;Symfony

                      MiscTechHaveWorkedWith  \
0                                        NaN
1                                    Cordova
2      NumPy;Pandas;TensorFlow;Torch/PyTorch
3                                        NaN
4           Apache Spark;Hadoop;NumPy;Pandas
...                                      ...
83434                                    NaN
83435                             Flutter;Qt
83436              Hadoop;Keras;NumPy;Pandas
83437  NumPy;Pandas;TensorFlow;Torch/PyTorch
83438                                    NaN

                                  MiscTechWantToWorkWith  \
0                                                    NaN
1                                                    NaN
2            Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch
3                                                    NaN
4                                    Hadoop;NumPy;Pandas
...                                                  ...
83434                                                NaN
83435                                                NaN
83436  Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow
83437              NumPy;Pandas;TensorFlow;Torch/PyTorch
83438                                                NaN

            ToolsTechHaveWorkedWith          ToolsTechWantToWorkWith  \
0                               NaN                              NaN
1                   Docker;Git;Yarn                              Git
2                               NaN                              NaN
3                               NaN                              NaN
4        Docker;Git;Kubernetes;Yarn       Docker;Git;Kubernetes;Yarn
...                             ...                              ...
83434                    Docker;Git                   Git;Kubernetes
83435    Git;Unity 3D;Unreal Engine            Docker;Git;Kubernetes
83436  Ansible;Docker;Git;Terraform  Docker;Git;Kubernetes;Terraform
83437  Ansible;Docker;Git;Terraform             Kubernetes;Terraform
83438                    Docker;Git            Docker;Git;Kubernetes

                            NEWCollabToolsHaveWorkedWith  \
0                                         PHPStorm;Xcode
1              Android Studio;IntelliJ;Notepad++;PyCharm
2      IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...
3                                                    NaN
4             Atom;IPython/Jupyter;Notepad++;PyCharm;Vim
...                                                  ...
83434       IntelliJ;Sublime Text;Vim;Visual Studio Code
83435  Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...
83436  Android Studio;Eclipse;IntelliJ;IPython/Jupyte...
83437                               PyCharm;Sublime Text
83438                        IntelliJ;Visual Studio Code

                            NEWCollabToolsWantToWorkWith        OpSys  \
0                                             Atom;Xcode        MacOS
1                                                    NaN      Windows
2      IPython/Jupyter;RStudio;Sublime Text;Visual St...        MacOS
3                                                    NaN      Windows
4      Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...  Linux-based
...                                                  ...          ...
83434                                   Sublime Text;Vim        MacOS
83435  Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...  Linux-based
83436             IntelliJ;IPython/Jupyter;Notepad++;Vim      Windows
83437                                                NaN        MacOS
83438               IntelliJ;PHPStorm;Visual Studio Code  Linux-based

                                                NEWStuck  \
0      Call a coworker or friend;Visit Stack Overflow...
1                         Visit Stack Overflow;Google it
2      Visit Stack Overflow;Google it;Watch help / tu...
3      Call a coworker or friend;Visit Stack Overflow...
4      Visit Stack Overflow;Go for a walk or other ph...
...                                                  ...
83434                Call a coworker or friend;Google it
83435  Call a coworker or friend;Visit Stack Overflow...
83436  Call a coworker or friend;Visit Stack Overflow...
83437  Call a coworker or friend;Visit Stack Overflow...
83438  Call a coworker or friend;Visit Stack Overflow...

                                              NEWSOSites  \
0                                         Stack Overflow
1                                         Stack Overflow
2                          Stack Overflow;Stack Exchange
3                                         Stack Overflow
4                          Stack Overflow;Stack Exchange
...                                                  ...
83434                      Stack Overflow;Stack Exchange
83435                      Stack Overflow;Stack Exchange
83436                      Stack Overflow;Stack Exchange
83437                                     Stack Overflow
83438  Stack Overflow;Stack Exchange;Stack Overflow f...

                           SOVisitFreq SOAccount  \
0               Multiple times per day       Yes
1                Daily or almost daily       Yes
2               Multiple times per day       Yes
3                Daily or almost daily       Yes
4                Daily or almost daily       Yes
...                                ...       ...
83434             A few times per week        No
83435           Multiple times per day       Yes
83436             A few times per week       Yes
83437  A few times per month or weekly       Yes
83438             A few times per week       Yes

                                              SOPartFreq           SOComm  \
0                        A few times per month or weekly  Yes, definitely
1                                  Daily or almost daily  Yes, definitely
2                                 Multiple times per day  Yes, definitely
3                                  Daily or almost daily          Neutral
4                                   A few times per week    Yes, somewhat
...                                                  ...              ...
83434                                                NaN   No, not at all
83435  I have never participated in Q&A on Stack Over...    Yes, somewhat
83436  I have never participated in Q&A on Stack Over...   No, not really
83437                Less than once per month or monthly   No, not really
83438                               A few times per week    Yes, somewhat

      NEWOtherComms              Age Gender Trans                Sexuality  \
0                No  25-34 years old    Man    No  Straight / Heterosexual
1                No  18-24 years old    Man    No  Straight / Heterosexual
2               Yes  18-24 years old    Man    No        Prefer not to say
3                No  35-44 years old    Man    No  Straight / Heterosexual
4                No  25-34 years old    Man    No                      NaN
...             ...              ...    ...   ...                      ...
83434            No  25-34 years old    Man    No  Straight / Heterosexual
83435            No  18-24 years old    Man    No  Straight / Heterosexual
83436            No  25-34 years old    Man    No                      NaN
83437            No  25-34 years old    Man    No  Straight / Heterosexual
83438            No  18-24 years old    Man    No  Straight / Heterosexual

                          Ethnicity                Accessibility  \
0      White or of European descent            None of the above
1      White or of European descent            None of the above
2                 Prefer not to say            None of the above
3      White or of European descent  I am deaf / hard of hearing
4      White or of European descent            None of the above
...                             ...                          ...
83434  White or of European descent            None of the above
83435   Black or of African descent            None of the above
83436  White or of European descent            None of the above
83437  White or of European descent            None of the above
83438        Hispanic or Latino/a/x            None of the above

                                            MentalHealth  \
0                                      None of the above
1                                      None of the above
2                                      None of the above
3                                                    NaN
4                                                    NaN
...                                                  ...
83434  I have a concentration and/or memory disorder ...
83435                                  None of the above
83436                                  None of the above
83437  I have a mood or emotional disorder (e.g. depr...
83438                                  None of the above


In [4]:
pd.set_option('display.max_columns',85)

In [12]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [13]:
schema_df = pd.read_csv('survey_results_schema.csv')

In [14]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

In [16]:
df.head(0)

Empty DataFrame
Columns: [qid, qname, question, force_resp, type, selector]
Index: []

In [17]:
df.shape

(48, 6)

In [18]:
df.columns

Index(['qid', 'qname', 'question', 'force_resp', 'type', 'selector'], dtype='object')

In [19]:
df.question

0     <div><span style="font-size:19px;"><strong>Hel...
1                                     Browser Meta Info
2     <span style="font-size:22px; font-family: aria...
3     Which of the following options best describes ...
4     Which of the following best describes your cur...
5     Where do you live? <span style="font-weight: b...
6     <p>In which state or territory of the USA do y...
7     In which part of the United Kingdom do you liv...
8     <span style="font-size:22px; font-family: aria...
9     Which of the following best describes the high...
10    At what age did you write your first line of c...
11    How did you learn to code? Select all that apply.
12    Including any education, how many years have y...
13    NOT including education, how many years have y...
14    Which of the following describes your current ...
15    Approximately how many people are employed by ...
16    Which currency do you use day-to-day? If your ...
17    What is your current total compensation (salar...
18     Is that compensation weekly, monthly, or yearly?
19    <span style="font-size:22px; font-family: aria...
20    Which <b>programming, scripting, and markup la...
21    Which <b>database environments </b>have you do...
22    Which <b>cloud platforms</b> have you done ext...
23    Which <strong>web frameworks </strong><span st...
24    Which <b>other frameworks and libraries</b> ha...
25    Which <strong>tools</strong> have you done ext...
26    Which <strong>development environments</strong...
27    What is the primary operating system in which ...
28    What do you do when you get stuck on a problem...
29    <span style="font-size:22px; font-family: aria...
30    Which of the following Stack Overflow sites ha...
31    How frequently would you say you visit Stack O...
32                Do you have a Stack Overflow account?
33    How frequently would you say you participate i...
34    Do you consider yourself a member of the Stack...
35    Are you a member of any other online developer...
36    Please name up to 5 other online developer com...
37    <span style="font-size:22px; font-family: aria...
38                                    What is your age?
39    Which of the following describe you, if any? P...
40                      Do you identify as transgender?
41    Which of the following describe you, if any? P...
42    Which of the following describe you, if any? P...
43    Which of the following describe you, if any? P...
44    Which of the following describe you, if any? P...
45    <span style="font-size:22px;"><strong>Final Qu...
46    How do you feel about the length of the survey...
47    How easy or difficult was this survey to compl...
Name: question, dtype: object

In [20]:
df = pd.read_csv("survey_results_public.csv")

In [21]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [22]:
df.LanguageHaveWorkedWith

0        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
1                                    JavaScript;Python
2                             Assembly;C;Python;R;Rust
3                                JavaScript;TypeScript
4                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83434                               Clojure;Kotlin;SQL
83435                                              NaN
83436                               Groovy;Java;Python
83437             Bash/Shell;JavaScript;Node.js;Python
83438           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object

In [23]:
df['LanguageHaveWorkedWith']

0        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
1                                    JavaScript;Python
2                             Assembly;C;Python;R;Rust
3                                JavaScript;TypeScript
4                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83434                               Clojure;Kotlin;SQL
83435                                              NaN
83436                               Groovy;Java;Python
83437             Bash/Shell;JavaScript;Node.js;Python
83438           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object

In [24]:
df['LanguageHaveWorkedWith'].value_counts()

Python                                                                                                 1337
HTML/CSS;JavaScript;Node.js;TypeScript                                                                  811
Java                                                                                                    715
HTML/CSS;JavaScript;PHP;SQL                                                                             674
C#                                                                                                      597
                                                                                                       ...
Assembly;Bash/Shell;C;C#;C++;Delphi;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Perl;PHP;Python;SQL;VBA       1
C#;C++;Dart;Go;JavaScript;Node.js;SQL;TypeScript                                                          1
Bash/Shell;C;C++;Groovy;HTML/CSS;Java;JavaScript;Node.js;SQL;TypeScript                                   1
Bash/Shell;C;HTML/CSS;JavaScript;Node.js;PHP;Python;SQL;Swift                                             1
Delphi;Elixir;HTML/CSS;Java;JavaScript                                                                    1
Name: LanguageHaveWorkedWith, Length: 28690, dtype: int64

In [25]:
df.loc[0]

ResponseId                                                                      1
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 0, dtype: object

In [30]:
df.loc[0:2,'MainBranch']

0                       I am a developer by profession
1               I am a student who is learning to code
2    I am not primarily a developer, but I write co...
Name: MainBranch, dtype: object

In [34]:
df.loc[0:2,'MainBranch':'LearnCode']

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode
0,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...
1,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc..."
2,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc..."

In [35]:
print("row and column slicing is used")

row and column slicing is used

In [36]:
df.loc['CoreyMSchafer@gmail.com']

KeyError: 'CoreyMSchafer@gmail.com'

In [37]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [38]:
df = pd.DataFrame(people)

In [39]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [42]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [44]:
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [46]:
df.set_index('email',inplace =True)

In [47]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [48]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [53]:
df.loc['CoreyMSchafer@gmaioml.com','last']

KeyError: 'CoreyMSchafer@gmaioml.com'

In [54]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [55]:
df.reset_index(inplace=True)

In [56]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [57]:
print("filtering data from the series and dataframe objects")

filtering data from the series and dataframe objects

In [60]:
filt = (df['last'] == 'Doe')

In [61]:
df[filt]

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [63]:
df.loc[filt,'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [65]:
filt = (df['last'] == 'Doe'  ) & (df['first'] == 'John'  )

In [66]:
df.loc[filt,'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [68]:
df.loc[~filt,'email']
print('the tilder gives the opposite of the above')

the tilder gives the opposite of the above