# ADDING ROWS AND COLUMNS INTO A DATAFRAME

In [1]:
import pandas as pd
import numpy as np

In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [29]:
df= pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [30]:
df['first']+' '+df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [32]:
df['full_name'] = df['first']+' '+df['last']

In [33]:
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [34]:
df.drop(columns = ['first','last'])

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [36]:
df.drop(columns = ['first','last'], inplace= True)

In [37]:
df

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [38]:
df['full_name'].str.split(' ')

0    [Corey, Schafer]
1         [Jane, Doe]
2         [John, Doe]
Name: full_name, dtype: object

In [39]:
df['full_name'].str.split(' ', expand=True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [40]:
df[['first','last']] = df['full_name'].str.split(' ', expand=True)

In [41]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [43]:
df.append({'first':'Tony'},ignore_index= True)

C:\Users\SUDHANSU\AppData\Local\Temp\ipykernel_11136\3756739008.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({'first':'Tony'},ignore_index= True)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3                      NaN            NaN   Tony      NaN

In [46]:
people2 = {
    "first": ["Tony", 'Steve'],
    "last": ["Stark", 'Rogers'],
    "email": ["tony@gmail.com", 'steve@email.com']
}

In [47]:
df2 =pd.DataFrame(people2)

In [48]:
df2

   first    last            email
0   Tony   Stark   tony@gmail.com
1  Steve  Rogers  steve@email.com

In [63]:
df.append(df2,ignore_index=True,sort=False)

C:\Users\SUDHANSU\AppData\Local\Temp\ipykernel_11136\1385983070.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df2,ignore_index=True,sort=False)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3           tony@gmail.com            NaN   Tony    Stark
4          steve@email.com            NaN  Steve   Rogers

In [62]:
df.drop(index=4)

KeyError: '[4] not found in axis'

In [64]:
filt = df['last']=='Doe'
df.drop(index=df[filt].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer