 SQLITE3

In [2]:
import sqlite3

In [3]:
print("to create the DB we need a fn")
def myConnect():
    con= sqlite3.connect("mypy.db")
    return con

to create the DB we need a fn

In [4]:
print('create a connection object')
con = myConnect()
if con:
    print("connected")

create a connection object
connected

In [5]:
print('create a function to create table')
def createTable(con):
    cur= con.cursor()
    qry = "CREATE TABLE student(name TEXT,id INT,per REAL,phone_no INT)"
    cur.execute(qry)
    con.commit()
    print('table created')

create a function to create table

In [14]:
print('to create the table in the DB and access the DB')
#con= myConnect()
createTable(con)

to create the table in the DB and access the DB

OperationalError: table student already exists

In [23]:
print("to insert the record create a cursor object")
def insertRecord(con):
    cur=con.cursor()
    qry="INSERT INTO Student VALUES('cup',12,86,4561237)"
    qry="INSERT INTO Student VALUES('cup2',123,864,34561237)"
    qry="INSERT INTO Student VALUES('cup3',123,864,34561237)"
    print("to execute the query we commit it and ")
    cur.execute(qry)
    con.commit()
    print('row inserted')

to insert the record create a cursor object

In [24]:
print('to insert the record into a row')
insertRecord(con)

to insert the record into a row
to execute the query we commit it and
row inserted

In [25]:
print('to display the record')
def display(con):
    cur=con.cursor()
    qry="SELECT * FROM student"
    cur.execute(qry)
    res=cur.fetchall()
    for i in res:
        print(i)

to display the record

In [26]:
display(con)

('cup2', 123, 864.0, 34561237)
('cup3', 123, 864.0, 34561237)

In [27]:
def delete(con):
    cur=con.cursor()
    qry="DELETE FROM student where id=12"
    cur.execute(qry)
    con.commit()

In [28]:
delete(con)

In [29]:
display(con)

('cup2', 123, 864.0, 34561237)
('cup3', 123, 864.0, 34561237)