# SERIES 1

In [1]:
import pandas as pd

In [2]:
Data = [1,2,3,4]
si=pd.Series(Data)
print(si)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
d = {'a':1, 'b':2, 'c':3,'d':4}
di =pd.Series(d)
print(di)

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
Data = [[2,3],[6,7]]
sd =pd.Series(Data)
print(sd)

0    [2, 3]
1    [6, 7]
dtype: object

In [9]:
index =['A','B']
ser = pd.Series(Data,index)
print(ser)

A    [2, 3]
B    [6, 7]
dtype: object

In [10]:
ser = pd.Series(10,index)
print(ser)

A    10
B    10
dtype: int64

In [12]:
index=[0,1,2,3,4,5]
lst= [12,13,14,15,32,21]
ser=pd.Series(lst,index)
print(ser.head())
print(ser.head(3))

0    12
1    13
2    14
3    15
4    32
dtype: int64
0    12
1    13
2    14
dtype: int64

In [13]:
print(ser.tail())

1    13
2    14
3    15
4    32
5    21
dtype: int64

In [14]:
print(ser.tail(3))

3    15
4    32
5    21
dtype: int64

In [17]:
sd = [[10,15,18],[22,5,6],[3,2,5]]
df =pd.DataFrame(sd)
print(df)
print(df.head())
print()
print(df.head(2))
print()
print(df.tail())
print()
print(df.tail(2))

    0   1   2
0  10  15  18
1  22   5   6
2   3   2   5
    0   1   2
0  10  15  18
1  22   5   6
2   3   2   5

    0   1   2
0  10  15  18
1  22   5   6

    0   1   2
0  10  15  18
1  22   5   6
2   3   2   5

    0  1  2
1  22  5  6
2   3  2  5

In [18]:
index=[0,1,2,3,4,5]
lst= [12,13,14,15,32,21]
ser=pd.Series(lst,index)
print(ser)
print()
print(ser.loc[1:3])
print()
print(ser.iloc[1:3])

0    12
1    13
2    14
3    15
4    32
5    21
dtype: int64

1    13
2    14
3    15
dtype: int64

1    13
2    14
dtype: int64

In [19]:
index=[0,1,2,3,4,5]
lst= [12,13,14,15,32,21]
ser=pd.Series(lst,index)
print(ser)
print(ser[1:3])
print()
print(ser[:3])
print()
print(ser[3:])

0    12
1    13
2    14
3    15
4    32
5    21
dtype: int64
1    13
2    14
dtype: int64

0    12
1    13
2    14
dtype: int64

3    15
4    32
5    21
dtype: int64

#    DATAFRAME

Dataframe is a 2D array structure

In [20]:
dt1= {'a':1, 'b':2,'c':3}
dt2 = {'a':5,'b':6,'c':7,'d':8}
lst = [dt1,dt2]
print(lst)
print()
df = pd.DataFrame(lst)
print(df)

[{'a': 1, 'b': 2, 'c': 3}, {'a': 5, 'b': 6, 'c': 7, 'd': 8}]

   a  b  c    d
0  1  2  3  NaN
1  5  6  7  8.0

In [22]:
s1 = pd.Series([1,2,3,4])
s2= pd.Series([1.1,3.5,4.4,5.5])
s3 = pd.Series(['a','b','c','d'])
data ={'a':s1,'b':s2,'c':s3}
dfseries =pd.DataFrame(data)
print(dfseries)

   a    b  c
0  1  1.1  a
1  2  3.5  b
2  3  4.4  c
3  4  5.5  d

In [24]:
dt1= {'a':1, 'b':2,'c':3,'d':9}
dt2 = {'a':5,'b':6,'c':7,'d':8}
data= {'e':dt1, 'f':dt2}
df=pd.DataFrame(data)
print(df)
print()
print(df['e'][0])
print()
print(df.f[2])

   e  f
a  1  5
b  2  6
c  3  7
d  9  8

1

7

ADDING A COLUMN

In [25]:
lst =[10,15,20,22]
df=pd.DataFrame(lst)
print(df)
print()
df['month']=[5,6,7,8]
print(df)

    0
0  10
1  15
2  20
3  22

    0  month
0  10      5
1  15      6
2  20      7
3  22      8

In [32]:
lst =[10,15,20,22]
df=pd.DataFrame(lst)
print(df)
print()
df['month']=[5,6,7,8]
print(df)
df['year'] = [12,13,14,15]
print(df)

    0
0  10
1  15
2  20
3  22

    0  month
0  10      5
1  15      6
2  20      7
3  22      8
    0  month  year
0  10      5    12
1  15      6    13
2  20      7    14
3  22      8    15

RENAME A COLUMN

In [35]:
lst =[10,15,20,22]
df=pd.DataFrame(lst)
print(df)
print()
df['month']=[5,6,7,8]
print(df)
df.columns=["ab","bc"]
print(df)

    0
0  10
1  15
2  20
3  22

    0  month
0  10      5
1  15      6
2  20      7
3  22      8
   ab  bc
0  10   5
1  15   6
2  20   7
3  22   8

In [36]:
lst =[10,15,20,22]
df=pd.DataFrame(lst)
print(df)
print()
del df[0] #we provide the name of the column
print(df)

    0
0  10
1  15
2  20
3  22

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

#ADDING A ROW

In [42]:
lst =[[10,15,20,22],[5,6,7,8],[12,13,14,15]]
df=pd.DataFrame(lst)
print(df)
print()
df.loc[4]=[6,4,3,9]
print(df)

    0   1   2   3
0  10  15  20  22
1   5   6   7   8
2  12  13  14  15

    0   1   2   3
0  10  15  20  22
1   5   6   7   8
2  12  13  14  15
4   6   4   3   9

In [43]:
lst =[[10,15,20,22],[5,6,7,8],[12,13,14,15]]
df=pd.DataFrame(lst)
print(df)
print()
print(df.drop([0,1],axis=1)) #DELETING THE DATA COLUMN WISE

    0   1   2   3
0  10  15  20  22
1   5   6   7   8
2  12  13  14  15

    2   3
0  20  22
1   7   8
2  14  15

In [45]:
lst =[[10,15,20,22],[5,6,7,8],[12,13,14,15]]
df=pd.DataFrame(lst)
print(df)
print("RENAME INDEX")
print(df.rename(index={0:'r1',1:'r2',2:'r3'}))

    0   1   2   3
0  10  15  20  22
1   5   6   7   8
2  12  13  14  15
RENAME INDEX
     0   1   2   3
r1  10  15  20  22
r2   5   6   7   8
r3  12  13  14  15

#BOOLEAN INDEXING

In [46]:
lst =[[10,15,20,22],[5,6,7,8],[12,13,14,15]]
df=pd.DataFrame(lst)
print(df)
df=pd.DataFrame(lst,index=[True,False,True])
print(df)
print(df.loc[True])

    0   1   2   3
0  10  15  20  22
1   5   6   7   8
2  12  13  14  15
        0   1   2   3
True   10  15  20  22
False   5   6   7   8
True   12  13  14  15
       0   1   2   3
True  10  15  20  22
True  12  13  14  15

#JOINING MERGING AND CONCATENATION OF DATAFRAME

In [50]:
lst1 =[[10,15,20,22],[5,6,7,8],[12,13,14,15]]
df1=pd.DataFrame(lst1)
lst2=[[12,13,14,15],[32,21.15,18],[14,15,46,21]]
df2= pd.DataFrame(lst2)
df3= pd.concat([df1,df2])
print(df3)
print("ignore_index=True",'gives the continious indexing')
df3= pd.concat([df1,df2],ignore_index=True)
print(df3)

    0      1   2     3
0  10  15.00  20  22.0
1   5   6.00   7   8.0
2  12  13.00  14  15.0
0  12  13.00  14  15.0
1  32  21.15  18   NaN
2  14  15.00  46  21.0
ignore_index=True gives the continious indexing
    0      1   2     3
0  10  15.00  20  22.0
1   5   6.00   7   8.0
2  12  13.00  14  15.0
3  12  13.00  14  15.0
4  32  21.15  18   NaN
5  14  15.00  46  21.0

# MERGING TWO DATA SETS ON THE BASIS OF COMMON ATTRIBUTES

In [51]:
cl1= pd.DataFrame({'id':[1,2,3,4,5],'Name':['Alex','Amy','Allen', 'Alica','Andrew'],'subj':['sub1','sub2','sub3','sub4','sub5']})
cl2 =pd.DataFrame({'id':[1,2,3,4,5],'Name':['Sam','Monoj','Nata','Alica','Andrew'],'subj':['sub1','sub2','sub3','sub4','sub5']})
print(cl1)
print()
print(cl2)
print()
df = pd.merge(cl1,cl2,on='id')
print(df)

   id    Name  subj
0   1    Alex  sub1
1   2     Amy  sub2
2   3   Allen  sub3
3   4   Alica  sub4
4   5  Andrew  sub5

   id    Name  subj
0   1     Sam  sub1
1   2   Monoj  sub2
2   3    Nata  sub3
3   4   Alica  sub4
4   5  Andrew  sub5

   id  Name_x subj_x  Name_y subj_y
0   1    Alex   sub1     Sam   sub1
1   2     Amy   sub2   Monoj   sub2
2   3   Allen   sub3    Nata   sub3
3   4   Alica   sub4   Alica   sub4
4   5  Andrew   sub5  Andrew   sub5